*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
  background: #0f1512;
  color: #fff;
  line-height: 1.6;
}

.navbar{
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

.navbar a{
    margin-left: 20px;
    color: #dcdcdc;
    text-decoration: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}

.text-hero {
    max-width: 500px;
}

.text-hero h1 {
    font-size: 48px;
    margin-bottom: 10px
}

.hero p {
    margin: 10px 0 20px;
    color: #ccc;
}

hero-image img {
    width: 350px;
}

.btn, .know-more {
    padding: 10px 25px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.btn {
    background: #4caf50;
    color: white;
}

.know-more {
    background: transparent;
    border: 1px solid #4caf50;
    color: #4caf50;
}

.section-title{
    text-align: center;
    margin: 40px 0 20px;
}

.section-title h2 {
    font-size: 28px;

}

.plants-grid
{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card{
    background: #1a1f1c;
    padding: 20px;
    width: 260px;
    border-radius: 10px;
    text-align: center;
}

.card img{
    width: 150px;
    margin-bottom: 15px;
}

.card h3 {
    margin-bottom: 10px;
}

.price{
    margin: 8px 0;
    font-weight: bold;
}

.sml-btn {
    padding: 6px 15px;
    background: #4caf50;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    
}


.top-selling{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}

.top-selling img {
    width: 160px;
}